  *{font-size:18px;}
  body {
    font-family: Arial, sans-serif;
    width:100%;
    background-color: #f2f2f2;
  }


  form {
    border: 3px solid #f1f1f1; 
    width:500px;
  }
  input[type=text], input[type=password],input[type=email],input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px 20px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  
  .container {
    padding: 16px;
  }

table {

  margin: 20px 0;
  width:80%;
}

th,td{border: 1px solid #ccc;text-align:center;width:150px;padding:5px;}
tr:nth-child(even) {
  background-color: #dddddd;
}
select{width:100%;}
label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
